// @media (max-width: 1600px){
//   .banner {
//     .slogan{
//       h1{
//         font-size: 4.5rem;
//       }
//       h3{
//         font-size: 3.5rem;
//       }
//       p{
//         font-size: 1.8rem;
//       }
//     }
//   }
// }
@media (max-width: 1400px) {
  .banner {
    background: url("../images/banner_bg_1400.jpg");
    min-height: 723px;
  }
}
@media (max-width: 1200px) {
  .banner {
    background: url("../images/banner_bg_1200.jpg");
    min-height: 620px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  .banner {
    background: url("../images/banner_bg_1000.jpg");
    min-height: 516px;
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .video-992 {
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .banner {
    background: url("../images/banner_bg_800.jpg");
    min-height: 413px;
    margin-bottom: 40px;
    .slogan {
      h1 {
        font-size: calc(3em * 0.95);
      }
      h3 {
        font-size: calc(2em * 0.95);
      }
      p {
        font-size: calc(1.25em * 0.95);
      }
    }
  }
}
@media (max-width: 600px) {
  .banner {
    background: url("../images/banner_bg_600.jpg");
    min-height: 310px;
    margin-bottom: 30px;
    .slogan {
      h1 {
        font-size: calc(3em * 0.85);
      }
      h3 {
        font-size: calc(2em * 0.85);
      }
      p {
        font-size: calc(1.25em * 0.85);
      }
    }
  }
}
@media (max-width: 400px) {
  .banner {
    background: url("../images/banner_bg_400.jpg");
    min-height: 310px;
    margin-bottom: 20px;
  }
}
